.navigation-main-ul__li {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    list-style-type: none;
    color: #FFFFFF;
    /*margin-right: 30px;*/
}

.navigation-main__ul {
    padding: 0;
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    width: 80%;
    max-width: 600px;;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.main-header::after {
    position: absolute;
    top: 59px;
    left: 5%;
    right: 5%;
    height: 3px;
    content: close-quote;
    background: #424242;
}
