
.dropdown-container{
    border: none!important;
}
.dark{
    height: 100%;
    margin-top: 0.5rem;
    text-transform: capitalize;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    mix-blend-mode: normal;
    --rmsc-bg: #2E2E2E;
    --rmsc-hover: #2E2E2E;
    --rmsc-selected: #2E2E2E;
    background-color: #2E2E2E;
    outline: none;
    color:white;
    border: none;
    display: block;
    padding: 0.3rem 1%;
}
.dropdown-content input{
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
