.sort-by__title {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin: 20px 0;
}

.sort-by__select {
    font-family: 'Montserrat', sans-serif;
    margin-left: 31px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    outline: none;
    border: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #232323;
    color: #FFFFFF;
}