.main-wrapper {
    height: calc(100% - 70px);
    background-color: #232323;
    padding: 5% 7%;
}

.modal-window {
    background-color: #232323;
    height: 100%;
    width: 100%;
    padding: 3% 6%;
    position: relative;
    overflow: auto;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.07), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 10px 50px rgba(0, 0, 0, 0.05);
}

.modal-window__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 5%;
}

.modal-window__button-close {
    background-color: #232323;
    height: 23px;
    width: 23px;
    position: absolute;
    right: 30px;
    top: 30px;
}
.modal-window__buttons{
    margin-top: 5%;
    text-align: right;

}
.modal-window--list{
    width: 100%;
    height: 100%;
}

.modal-window__list-wrapper{
    /*margin-top:4%;*/
    padding:0 5%;
    /*background-color: #000066;*/
    width: 100%;
    height: 100%;
}
.list__left{
    width: 60%;
}
.list__right{
    width: 36%;
}
.modal-window__list{
    display: flex;
    flex-direction: column;
    width: 100%;
    /*height: 100%;*/
}

/*.film-element p{*/
    /*margin-bottom: 1rem;*/
/*}*/

.film-element{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F65261;
    mix-blend-mode: normal;
    /*opacity: 0.8;*/
    width:100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.film-element__input{
    line-height: 2rem;
    font-size: 1rem;
    background-color: #2e2e2e;
    color: white;
    padding: 0.5rem 1rem;
    width: 100%;
    margin-top: 0.5rem;
    /*z-index: 2;*/
    /*position: relative;*/
}


.modal-window--top {
    /*height: 60%;*/
    display: flex;
    justify-content: space-between;
    /*padding-top: 4%;*/
}
.modal-window--bottom input{
    height: 150px;

}

