.button__add-movie{
    position: absolute;
    right: 56px;
    top: 20px;
    font-weight: 600;
    color: #F65261;
    height: 46px;
    width: 177px;
    background: rgba(96, 96, 96, 0.68);
    border-radius: 4px;

}
.button__search{
    height: 57px;
    width: 233px;
    font-weight: 500;
    background-color: #F65261;
    border-radius: 4px;
    color: white ;
}
.button{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;
    border: 0;
    margin: 0 0px;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: #F65261;
}


.button-trans,.button-red{
    color: #F65261;
    background-color: transparent;
    /*margin-bottom: 1rem;*/
    border: 1.5px solid #F65261;
    box-sizing: border-box;
    border-radius: 4px;
    height: 57px;
    width: 180px;
    font-weight: 500;
}

.button-red{
    margin-left: 13px;
    color: white;
    background: #F65261;
}

