html{
    --404-320:url('https://raw.githubusercontent.com/DrSavauG/online-zoo/44012a8afcb19799697528616c3322ee950a8388/online-zoo/assets/images/404-320.svg');
    --404-2: url('https://raw.githubusercontent.com/DrSavauG/online-zoo/44012a8afcb19799697528616c3322ee950a8388/online-zoo/assets/images/404-2.svg');
    --404-640: url('https://raw.githubusercontent.com/DrSavauG/online-zoo/44012a8afcb19799697528616c3322ee950a8388/online-zoo/assets/images/404-640.svg');
}


.main-content {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main-404 {
    align-self: center;
    width: 675px;
    height: 700px;
    background: var(--404-2);
    text-align: center;

}

.main-404__title {
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    margin: 590px auto 0;
    color: grey;

}
.main-404__link{
    text-decoration: none;
}
.main-404__p:hover{
    color: #1aacfa;
     text-shadow: #005f92 1px 1px 0;
    transform: scale(1.05);

}
.main-404__p {

    transition: 0.3s linear;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #59C3FB;
    margin: 18px auto 0;

}
@media all and (max-width:1200px){
    .main-404__p {
        margin: 13px auto 0;
    }
}

@media all and (max-width:640px){
    .main-404{
        width: 550px;
        height: 582px;
        background: var(--404-640) no-repeat center center;

    }
    .main-404__title{

        margin-top: 480px;
    }
    .main-404__p {
        margin-top: 11px;

    }
}
 @media all and (max-width:540px){
    .main-404{
        width: 260px;
        height: 296px;
        background: var(--404-320) no-repeat;

    }
}
@media all and (max-width:480px){
    .main-404{
        width: 360px;
        height: 296px;
        background: var(--404-320) no-repeat center center;

    }
    .main-404__title{
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        margin-top: 228px;
        margin-left:auto;
        margin-right:auto;
    }
    .main-404__p {
        font-size: 16px;
        line-height: 16px;
        margin-top: 12px;
    }
}



@media all and (max-width:320px){
    .main-404{
        width: 260px;
        height: 296px;
        background: var(--404-320) no-repeat center center;

    }
    .main-404__title{
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        margin-top: 228px;
    }
    .main-404__p {
        font-size: 16px;
        line-height: 16px;
        margin-top: 12px;
    }
}